<p style="color: green"></p>

<h1>Tasks</h1>

<table id="tasks" class="table table-striped table-hover">
      <thead class="table-dark">
        <tr>
          <!-- <th>Done</th> -->
          <th colspan="2">Task description:</th>
          <th>Deadline:</th>
          <th colspan="2"></th>
        </tr>
      </thead>
  <tbody >
  <% @tasks.each do |task| %>
    <% if task.user == current_user %>

    <tr data-controller="tasks">
    <%= render task %>
    
    <td>
      <%= link_to "Edit this task", edit_task_path(task) %>
    </td>
    <td>
      <%= button_to "Delete this task", task, method: :delete, class:"btn btn-danger btn-sm" %>
    </td>
  </tr>
    <% end %>
  <% end %>
  <tbody>
</table>
